@import 'fonts';
@import 'vars';
@import 'mixin';
@import 'global';



// header============
.header__top {
    background-color: #eef1f3;
}

.header__top-link {
    background-color: $blue;
    color: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    line-height: 28px;
    padding: 4px 18px;
    border-radius: 19px;
    outline: none;
    margin-left: auto;
    margin-right: 40px;
    transition: all 0.3s;

    &:hover {
        background-color: #fff;
        color: $blue;
    }
}

.header__top-inner {
    @include dfsb;
    height: 100px;
    align-items: center;
}

.header__top-box,
.header__top-box__content {
    @include dfsb;
    align-items: center;
}

.header__top-logo {
    margin-left: 7px;
}

.header_top-link {
    width: 135px;
    margin-right: 25px;
    display: flex;
    justify-content: space-around;

    a {
        display: block;
    }

    .bell {
        margin-top: 10px;
        margin-left: 3px;
        margin-right: 3px;
    }

    .message {
        margin-top: 7px;
        margin-left: 3px;
        margin-right: 3px;
    }

    .basket {
        margin-top: 10px;
        margin-left: 3px;
        margin-right: 3px;
    }
}

.box__user-img {
    margin-right: 22px;
    display: block;
    width: 50px;
    height: 50px;
}

.box__user {
    line-height: 22px;

    &-name {
        font-size: 16px;
    }

    &-price {
        font-size: 15px;
        color: $blue;
    }
}

.header__menu {
    background-color: #fff;

    &-inner {
        @include dfsb;
        align-items: center;
        height: 80px;
    }
}

.menu__list {
    li {
        display: inline-block;

        &+li {
            margin-left: 32px;
        }
    }
}

.menu__list-link {
    font-size: 15px;
    font-weight: 500;
    line-height: 42px;
    text-transform: uppercase;


    &:hover {
        border-bottom: 1px solid $text;
    }
}


.menu__search {
    max-width: 360px;
    width: 100%;
    text-align: center;
    position: relative;

    input {
        display: block;
        width: 100%;
        border-radius: 23px;
        height: 46px;
        border: 1px solid $border;
        font-size: 15px;
        font-weight: 400;
        outline: none;
        padding-left: 25px;
        padding-right: 80px;

        &::placeholder {
            color: #898f96;
        }
    }

    button {
        position: absolute;
        background-color: $blue;
        width: 70px;
        height: 46px;
        border-radius: 23px;
        right: 0px;
        top: 0px;
        outline: none;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            width: 80px;
        }
    }
}

// banner============
.banner {
    text-align: center;
    min-height: 725px;
    background-color: $bg-blue;
    color: #f3f3f8;
    z-index: 1;
}


.banner__inner {
    padding: 185px 0 205px 0;

    &-item__text {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 65px;
    }

    &-item-linck a {
        color: #fff;
        padding: 15px 30px;
        border: 1px solid #fff;
        border-radius: 35px;
        transition: all 0.3s;

        &+a {
            margin-left: 30px;
        }

        &:hover {
            background-color: #fff;
            color: $blue;
        }
    }
}

.banner__inner-item__title {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 50px;

    span {
        font-weight: 700;
    }
}

// search_box============
.search_box-inner {
    margin-top: -95px;
    height: 160px;
    width: 100%;
    background-color: transparent;
    position: relative;
    z-index: 5;
    margin-bottom: 120px;
}

.style_box {
    border-radius: 6px;
    height: 135px;
    position: absolute;
    background-color: #fff;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.search_box1 {
    max-width: 1140px;
    box-shadow: 0px 4px 20px 0px rgba(17, 11, 11, 0.08);
    bottom: 0;
    z-index: 4;
    padding: 40px;

    form {
        @include dfsb;
    }

    input {
        display: block;
        max-width: 612px;
        width: 100%;
        border-radius: 4px 0 0 4px;
        height: 55px;
        border: 1px solid $border;
        font-weight: 400;
        outline: none;
        padding-left: 25px;
        padding-right: 80px;
        margin-right: 0;

        &::placeholder {
            color: #898f96;
        }
    }

    button {
        border-radius: 4px;
        background-color: rgb(6, 116, 236);
        width: 223px;
        height: 55px;
        cursor: pointer;
        outline: none;
        color: #fff;
        transition: all .3s;

        &:hover {
            background-color: #fff;
            color: $blue;
            border: 1px solid $blue;
        }
    }
}

.search_box-select {
    margin-right: auto;
    margin-left: -1px;
    max-width: 195px;
    background-repeat: no-repeat;
    background-position: 162px center;

    select {
        appearance: none;
        display: block;
        width: 195px;
        min-height: 55px;
        padding-left: 20px;
        outline: none;
        border: 1px solid $border;
        color: #555555;
        background: transparent;
        border-radius: 0 4px 4px 0;
    }
}


.search_box2 {
    max-width: 1110px;
    opacity: 0.502;
    bottom: 15px;
    z-index: 3;
}

.search_box3 {
    max-width: 1080px;
    opacity: 0.502;
    bottom: 30px;
    z-index: 3;
}

// features================
.features__inner {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
}

.features__item {
    max-width: 360px;
    padding: 40px 30px 45px 30px;
    border-radius: 4px;
    transition: all 0.3s;
    cursor: pointer;

    &+.features__item {
        margin-left: 10px;
    }

    &:hover {
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }

    &-title {
        font-weight: 400;
        color: #010101;
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &-text {
        color: #555555;
    }
}

// featured===================

.featured {
    background-color: #eff1f5;
    padding: 120px 0;

    &__top {
        @include dfsb;
        align-items: center;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        max-width: 100%;
        height: 110px;
        padding: 0 30px;
        margin-bottom: 50px;
    }

    &__title {
        font-weight: 400;
        font-size: 30px;
        color: #000;
    }

    &__arrows {
        background-color: #7347c1;
        height: 45px;
        width: 110px;
        border-radius: 25px;
    }
}

.featured__product {
    max-width: 100%;
    min-height: 450px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    display: flex;
    overflow: hidden;


    &-img {
        max-width: 555px;
        // height: 450px;
        width: 100%;
        background-color: #4e5760;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &__hover {
            width: 100%;
            height: 100%;
            background: linear-gradient(276deg, rgba(6, 116, 236, 1) 0%, rgba(61, 94, 215, 1) 46%, rgba(115, 71, 193, 1) 100%);
            opacity: 0.902;
            position: relative;
            justify-content: center;
            align-items: center;
        }
    }

    &-content {
        max-width: 580px;
        background-color: #fff;
    }
}

.featured__product-link {
    width: 288px;
    height: 30px;
    position: absolute;
    top: calc(50%-15px);
    left: 0;
    right: 0;
    margin: 0 auto;

    a {
        display: inline-block;
        font-size: 15px;
        font-weight: 500;
        border: 1px solid #fff;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        padding: 7px 32px;
        border-radius: 22px;
        color: #fff;
        background-color: transparent;
        transition: all .3s;

        &+a {
            margin-left: 10px;
        }

        &:hover {
            color: $blue;
            background-color: #fff;
        }
    }
}

.featured__product-img__hover {
    display: none;

}

.featured__product-img:hover {
    .featured__product-img__hover {
        display: flex;
    }
}

.featured__product-content {
    width: 530px;
    padding: 45px 0px 24px 50px;

    &__title {
        font-size: 24px;
        font-weight: 500;
        color: #000;
        margin-bottom: 13px;
    }

    &__user {
        display: flex;
        margin-bottom: 25px;

        .featured__wordpress-img {
            color: #7347c1;
            margin-left: 20px;
        }

        span {
            display: block;
            margin-left: 9px;
        }

        svg {
            margin-top: 7px;
            display: block;
            fill: #7347c1;
        }

        .featured__wordpress-title {
            font-size: 15px;
            color: #7347c1;
        }

        .featured__user-title {
            .AazzTech {
                font-size: 15px;
                color: #000;
            }
        }
    }

    &__text {
        color: rgb(85, 85, 85);
        line-height: 1.875;
        margin-bottom: 30px;
    }

    &__category {
        padding-bottom: 44px;
        border-bottom: 1px solid #ececec;

        li {
            display: inline-block;
            font-size: 15px;
            padding: 0px 15px;
            background-color: #f1f3f6;
            color: #868c96;
            border-radius: 12px;

            &+li {
                margin-left: 7px;
            }
        }
    }

    &__info {
        margin-top: 24px;
        display: flex;
        font-size: 15px;

        .featured__price {
            font-weight: 500;
            margin-right: 20px;
            padding: 1px 19px;
            background-color: $blue;
            color: #fff;
            border-radius: 14px;
        }

        .featured__statistics {
            display: flex;

            span {
                display: block;
            }

            &-like {
                display: flex;
                margin-right: 18px;
                align-items: center;

                svg {
                    margin-right: 10px;
                }
            }

            &-sales {
                display: flex;
                align-items: center;
                margin-right: 174px;

                img {
                    width: 14px;
                    height: 14px;
                    margin-right: 10px;
                }

                span {
                    color: $blue;
                }
            }
        }
    }
}

.rate-star {
    padding: 0;
    padding-top: 10px;
}

.slick-arrow.slick-prev,.slick-next {
    width: 28px;
    height: 28px;
    position: absolute;
    z-index: 1;
    top: -117px;
    right: 99px;
    background-color: transparent;
    outline: none;
}
.slick-arrow.slick-next{
    top: -117px;
    right: 42px;
}